<a href="https://colab.research.google.com/github/Evelyn1295/Avengers/blob/master/problem_0104_resuelto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Prueba #0104

#### Codifique la clase 'Acuario' que genera el resultado como se muestra.

In [63]:
class Aquarium:

  def __init__(self):
      global animals
      animals = []
      print("An Aquarium has opened!")

  @staticmethod
  def enters(animal):
    global animals
    if len(animals)==0 or animal not in animals:
      animals.append(animal)
      print("{} is a new member of our Aquarium!".format(animal))

    else:
      print("We already have {}.".format(animal))
  
  @staticmethod
  def show_all():
    print(animals)

  @staticmethod
  def leaves(animal):
    if animal not in animals:
      print("No such sea creature in the Aquarium!")

    else:
      animals.remove(animal)

Resultados de la prueba:

In [64]:
my_aquarium = Aquarium()

An Aquarium has opened!

In [65]:
my_aquarium.enters('Turtle')

Turtle is a new member of our Aquarium!

In [66]:
my_aquarium.enters('Turtle')

We already have Turtle.

In [67]:
my_aquarium.enters('Dolphin')

Dolphin is a new member of our Aquarium!

In [68]:
my_aquarium.enters('Sea Lion')

Sea Lion is a new member of our Aquarium!

In [69]:
my_aquarium.enters('Shark')

Shark is a new member of our Aquarium!

In [70]:
my_aquarium.show_all()

['Turtle', 'Dolphin', 'Sea Lion', 'Shark']

In [71]:
my_aquarium.leaves("Sea Lion")

In [72]:
my_aquarium.leaves("Killer Whale")

No such sea creature in the Aquarium!

In [73]:
my_aquarium.show_all()

['Turtle', 'Dolphin', 'Shark']

In [74]:
my_aquarium.leaves("Turtle")

In [75]:
my_aquarium.show_all()

['Dolphin', 'Shark']